.UserSignInPage {
  box-sizing: border-box;
  height: calc(100% - 70px);
  width: 100%;
  padding: 80px 10px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  .signInTitle {
    color: white;
    margin-bottom: 60px;
  }
}

.UserSignInPage::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 719px) {
  .UserSignInPage {
    padding: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    .signInTitle {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
  }
}
