.ProfileMenu {
  text-align: center;
  pointer-events: auto !important;
  .MuiTypography-root {
    font-weight: bold;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
}
